//
.dashboard header {
  margin-top: 25px;
  margin-bottom: 25px;
}
.dashboard section {
  background: #fafafa;
  padding: 20px;
  border-radius: 4px;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  margin-bottom: 30px;
  h3 {
    margin-top: 0;
    margin-bottom: 20px;
  }
}
a,
a h4 {
  &:hover {
    color: #cfb35b;
  }
}

section.my-downloads .grid {
  grid-template-columns: repeat(auto-fill, 200px);
}
section.bonus .grid {
  justify-content: space-between;
  > div {
    width: 100%;
  }
}

.list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.list > li {
  margin-bottom: 20px;
}
.card {
  border-radius: 8px;
  padding: 10px;
}
.bonus .card {
  background: white;
}

.card h4 {
  font-size: 20px;
  font-weight: 600;
}

.help input {
  margin-bottom: 20px;
}
