.archive-template-layout aside {
  order: 2;

  padding-top: 1em;
  margin-bottom: 30px;
  > div {
    background: white;
    border-radius: 4px;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
      0 2px 4px -1px rgba(0, 0, 0, 0.06);
  }
}
.filter-widget {
  h3 {
    margin-bottom: 10px;
  }
  margin-bottom: 20px;
}

.archive-template-layout main.recipes {
  margin: 0 auto;
  max-width: 900px;
  @media (min-width: 838px) {
    max-width: 1200px;
    display: grid;
    column-gap: 25px;
    grid-template-columns: minmax(0, 1fr) 300px;
  }
}
.archive-template-layout header {
  text-align: center;
  padding: 100px 20px;
  background: white;
  background-image: var(--header-bg);
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 40px;
}
.archive-template-layout h2 {
  color: white;
  text-shadow: 0 0 60px black;
}
.archive-template-layout main,
.archive-template-layout aside > div {
  padding: 20px;
}
@media (min-width: 650px) {
  .archive-template-layout aside > div {
    height: auto;
  }
}
aside h3 {
  font-size: 20px;
}
aside ul {
  margin: 0;
  padding: 0;
  padding-top: 10px;
  list-style: none;
}
aside li {
  padding: 0;
  margin-bottom: 10px;
}
aside .widgets > div {
  margin-bottom: 30px;
}

aside .recipe-collections ul a {
  display: block;
  background: var(--input-bg);
  color: var(--blue-dark);
  .count {
    text-align: center;
    display: inline-flex;
    width: 2em;
    height: 2em;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background: var(--input-bg--hover);
    margin-right: 5px;
  }
  &:hover {
    background: var(--input-bg--hover);
    .count {
      background: var(--input-bg);
    }
  }
}
.recipe-categories a {
  width: 100%;
  display: block;
  padding: 5px 20px;
  background: var(--blue-light);
  color: white;
  font-weight: 600;
  font-size: 14px;
  &:hover {
    background: var(--blue-base);
  }
}

.recipe-categories ul {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 20px;
  margin-left: -5px;
  li {
    margin-left: 5px;
    margin-right: 5px;
  }
}
a {
  display: inline-block;
}

.archive-template-layout .recipes .grid {
  max-width: 100%;
  grid-template-columns: repeat(auto-fill, 250px);
  --card-mx-width: 270px;
}
@media (max-width: 1233px) {
  .archive-template-layout .recipes .grid {
    --card-mx-width: 100%;
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}
@media (min-width: 450px) {
  .archive-template-layout .recipes .grid {
    display: grid;
    --card-max-width: 270px;
    gap: 20px;
  }
}

@media (max-width: 650px) {
  .archive-template-layout .product-card {
    --card-mx-width: 270px;
    margin: 0 auto 20px;
  }
}
.archive-template-layout .product-card {
  .card-top {
    height: 150px;
  }
}

//SECTION STATE
.archive-template-layout .recipes section {
  &[data-state="show"] {
    display: unset;
  }
  &[data-state="hide"] {
    display: none;
  }
}
