.ast-container {
  min-height: var(--page-min-height);
}
.member-updates-single-layout {
  padding-top: 30px;
  padding-bottom: 0px;
  background: var(--input-bg);
  min-height: inherit;
  display: flex;
  flex-direction: column;

  header {
    margin-bottom: 40px;
    h2 {
      color: var(--blue-base);
    }
  }

  .wrapper {
    max-width: 762px;
    margin: 0 auto;
    padding: 40px 30px;
    background: white;
    min-height: fill-available;
    width: 100%;
    border-radius: 10px;
    box-shadow: var(--shadow-xl);
  }
}

.member-updates-single-layout .comments-wrapper {
  max-width: 762px;
  padding: 20px 30px 40px;
  margin: 0 auto;
  width: 100%;
  h3 {
    font-family: var(--heading-font);
  }
  #comments {
    padding: 0;
    textarea,
    input[type="text"] {
      border-radius: 8px;
      box-shadow: var(--shadow-md);
    }
    input[type="submit"] {
      background-color: var(--blue-light);
      text-transform: capitalize;
      font-weight: bold;
      &:hover {
        background-color: var(--blue-dark);
      }
    }
  }
}
