.ast-container {
  min-height: var(--page-min-height);
}
.single-live .ast-container,
.single-post .ast-container {
  padding: 0;
  min-width: 100%;
}
.nhm-default {
  background: var(--input-bg);
  padding: 10px;
  padding-top: 30px;
  padding-bottom: 0px;

  min-height: inherit;
  display: flex;
  flex-direction: column;

  header {
    margin-bottom: 40px;
    h2 {
      color: var(--blue-base);
    }
  }
  .wrapper--live header {
    text-align: center;
  }

  .wrapper {
    max-width: 762px;
    margin: 0 auto;
    padding: 40px 30px;
    background: white;
    min-height: fill-available;
    width: 100%;
    border-radius: 10px;
    box-shadow: var(--shadow-xl);
  }
  .wrapper--live {
    margin-bottom: 30px;
  }
  .iframe-wrapper {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    padding-top: 25px;
    height: 0;
    margin-bottom: 20px;
    iframe {
      min-width: 100%;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }
}

.nhm-default .comments-wrapper {
  max-width: 762px;
  padding: 20px 30px 40px;
  margin: 0 auto;
  width: 100%;
  h3 {
    font-family: var(--heading-font);
  }
  #comments {
    padding: 0;
    textarea,
    input[type="text"] {
      border-radius: 8px;
      box-shadow: var(--shadow-md);
    }
    input[type="submit"] {
      background-color: var(--blue-light);
      text-transform: capitalize;
      font-weight: bold;
      &:hover {
        background-color: var(--blue-dark);
      }
    }
  }
}
