.recipe-collections {
  header .user-name {
    font-size: 1.56rem;
    font-weight: bold;
    color: var(--blue-base);
    display: inline-flex;
    padding: 2px 8px;
    border-radius: 4px;
    background: var(--input-bg);
  }

  .lists {
    box-shadow: none;
  }
}
