.recipe-collections-single-layout {
  //== RECIPE CARD ==//
  .card-top button[data-action="delete-from-list"] {
    color: #df9393;
    background: rgba(255, 255, 255, 0.85);
    padding: 0;
    width: var(--button-size, 28px);
    height: var(--button-size, 28px);
    display: inline-flex;
    justify-content: center;
    align-items: center;
    &:hover {
      color: white;
      background: #df9393;
    }
  }
}

// == Collection Title and Collection Meta == //

.recipe-collections-single-layout header {
  .title-el {
    margin-bottom: 20px;
  }
  .list-meta {
    > div {
      text-align: center;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      border-radius: 3px;
      overflow: hidden;

      .label {
        padding: 8px;
        font-weight: bold;
        color: var(--med-grey);
      }
      .tag {
        height: 60px;
        display: flex;
        align-items: center;
        justify-content: center;
        button {
          box-shadow: var(--shadow-sm);
        }
      }
      &.collection-privacy {
        .privacy-tag {
          border-radius: 8px;
          background: var(--input-bg);
          padding: 5px 8px;
          display: flex;
          align-items: center;
          .toggle__wrapper {
            margin-left: 0;
          }
        }
        label {
          margin-right: 10px;
        }
      }
    }
    @media (min-width: 650px) {
      display: flex;
      gap: 20px;
    }
  }
  @media (min-width: 900px) {
    // only shows the rename title button when you hover the header element
    [data-action="rename-list"] {
      display: none;
    }
    &:hover [data-action="rename-list"] {
      display: unset;
    }
  }
}
