.recipe-collections-single-layout {
  //== RECIPE CARD ==//
  .card-top button[data-action="delete-from-list"] {
    color: #df9393;
    background: rgba(255, 255, 255, 0.85);
    padding: 0;
    width: var(--button-size, 28px);
    height: var(--button-size, 28px);
    display: inline-flex;
    justify-content: center;
    align-items: center;
    &:hover {
      color: white;
      background: #df9393;
    }
  }
}

// == Collection Title and Collection Meta == //

.recipe-collections-single-layout header {
  .title-el {
    margin-bottom: 20px;
  }
  .list-meta {
    @media (min-width: 650px) {
      display: flex;
      gap: 20px;
    }

    > div {
      .tag {
        &:after {
          z-index: 99;
        }
        display: flex;
        justify-content: space-between;
        position: relative;
        z-index: 2;
        height: 50px;
        align-items: center;
        border-radius: 8px;
        background: var(--input-bg);
        padding: 5px 8px;
        button {
          height: 40px;
          width: 40px;
          background: var(--input-bg--hover);
          box-shadow: var(--shadow-sm);
          &:hover,
          &:focus,
          &:active {
            transform: scale(1.08);
          }
        }
        .toggle__wrapper {
          margin-left: 0;
        }
      }
      .bold-label {
        font-size: 1.56rem;
        font-weight: bold;
        color: var(--med-grey);
      }
      &.collection-privacy {
        label {
          margin-right: 10px;
        }
      }
      .badge {
        height: 50px;
        width: 50px;
        border-radius: 50%;
        background: var(--input-bg);
        color: var(--med-grey);
        font-weight: bold;
        position: relative;
        > span {
          font-size: 1.2em;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
        }
      }
    }
  }
  @media (min-width: 900px) {
    // only shows the rename title button when you hover the header element
    [data-action="rename-list"] {
      display: none;
    }
    &:hover [data-action="rename-list"] {
      display: unset;
    }
  }
}
