:root {
  --blue-light: hsl(221, 29%, 22%);
  --blue-base: hsl(224, 37%, 17%);
  --blue-dark: hsl(224, 37%, 13%);
  --red: hsl(360, 90%, 72%);
  --sidebar-x-padding: 22px;
}
//

.global-sidebar {
  width: 240px;
  height: 100vh;
  background: var(--blue-base);
  position: fixed;
  z-index: 10;
  color: white;
  top: 0;
}
//

.global-sidebar nav {
  padding-top: 30px;
}
//

.global-sidebar .logo-container {
  margin-bottom: 15px;
  width: 100%;
  background: var(--blue-dark);
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.global-sidebar .logo {
  width: 60px;
  margin-right: 22px;
  display: flex;
  align-items: center;
}
.logo-container h1 {
  color: var(--red);
  font-size: 22.5px;
  margin-bottom: 11px;
}
//

.global-sidebar .nav-link {
  display: flex;
  color: white;
  font-size: 16px;
  padding: 11px var(--sidebar-x-padding);
  align-items: center;
  &:hover {
    background: var(--blue-light);
  }
}
.global-sidebar .icon {
  fill: currentcolor;
  display: inline-block;
  margin-right: 11px;
  max-width: 30px;
  max-height: 100%;
}
.nav-link .link-text {
  display: inline;
}
//

.global-sidebar .bottom-utils {
  position: absolute;
  bottom: 0;
  padding-bottom: 50px;
  width: 100%;
}
.global-sidebar .nav-button {
  display: flex;
  color: #ffffff;
  padding: 7.5px var(--sidebar-x-padding);
  width: 100%;
  align-items: center;
  border-radius: 0;
  background: transparent;
  &:hover {
    background-color: var(--blue-light);
  }
}
//

.global-sidebar .toggle-sidebar {
  position: absolute;
  left: 100%;
  z-index: 0;
  height: 100%;
  top: 0;
  display: flex;
  align-items: center;
}
.toggle-sidebar button {
  background: var(--blue-light);
  padding-top: 15px;
  padding-right: 22.5px;
  padding-bottom: 15px;
  padding-left: 12px;
  border-radius: 0 50% 50% 0;
  line-height: 0;
}
[data-state="off"] {
  &[data-part="global-sidebar-container"] {
    width: auto;
  }
  [data-part="logo"] {
    flex-direction: column;
    height: auto;
    justify-content: center;
    padding: 10px;
    h1 {
      font-size: 14px;
    }
    > div {
      margin: 0;
    }
  }
  [data-part="nav-link"] {
    justify-content: center;
    padding-top: 2rem;
    padding-bottom: 2rem;
    font-size: 1.4rem;
    svg {
      height: auto;
      margin: 0;
    }
  }
  [data-part="link-text"] {
    display: none;
  }

  ~ .site {
    margin-left: 114px;
  }
}

[data-state="off"][data-part="global-sidebar-container"] {
  width: auto;
}
