:root {
  --sidebar-x-padding: 22px;
}
//
@media (max-width: 650px) {
  body {
    overflow: hidden;
  }
}
@media (min-width: 650px) {
  .site {
    margin-left: 240px;
  }
}

//
.global-sidebar {
  width: 240px;
  height: 100vh;
  background: var(--blue-base);
  position: fixed;
  z-index: 999;
  color: white;
  top: 0;
}
//

.global-sidebar nav {
  max-height: 73vh;
  height: 100%;
  overflow: scroll;
  padding-bottom: 80px;
}
.global-sidebar nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.global-sidebar nav li {
  margin: 0;
}
.global-sidebar a {
  transition: none;
}
//

.global-sidebar .logo-container {
  margin-bottom: 15px;
  width: 100%;
  background: var(--blue-dark);
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.global-sidebar .logo {
  width: 60px;
  margin-right: 22px;
  display: flex;
  align-items: center;
}
.logo-container h1 {
  color: var(--gold);
  font-size: 22.5px;
  margin-bottom: 11px;
}
//

.global-sidebar .menu-item-has-children {
  position: relative;
}
.global-sidebar .toggle-sub-menu {
  position: absolute;
  padding-right: var(--sidebar-x-padding);
  top: 0;
  right: 0;
  background: transparent;
  display: flex;
  align-items: center;
  border-radius: 0;
  &:hover {
    background: var(--blue-light);
  }

  //testing action
}
.menu-item-has-children {
  .sub-menu {
    background: var(--blue-light);
    a:hover {
      background: var(--blue-dark);
    }
  }
  .toggle-sub-menu .icon {
    transform: rotate(180deg);
  }
  &:not([data-open]) {
    .toggle-sub-menu .icon {
      transform: rotate(0deg);
    }
    .sub-menu {
      display: none;
    }
  }
}
//

.global-sidebar .nav-link {
  display: flex;
  color: white;
  font-size: 16px;
  padding: 11px var(--sidebar-x-padding);
  align-items: center;
  position: relative;
  &:hover {
    background: var(--blue-dark);
  }
}
.global-sidebar .current-menu-item .nav-link {
  .link-text {
    position: relative;
    &:after {
      content: "";
      pointer-events: none;
      position: absolute;
      width: calc(1rem / 2);
      height: calc(1rem / 2);
      box-shadow: 0 0 0 0.25rem hsl(46 55% 68% / 33%);
      top: 50%;
      right: 0%;
      background: var(--gold-light);
      border-radius: 50%;
      --translateX: calc(100% + var(--dot-offset, 10px));
      --translateY: -50%;
      transform: translate(var(--translateX, 0), var(--translateY, 0))
        scale(var(--scale, 1)) rotate(var(--rotate, 0deg));
    }
  }
}
body:not([data-sidebar-state="open"])
  .global-sidebar
  .current-menu-item
  .nav-link {
  &:after {
    content: "";
    pointer-events: none;
    position: absolute;
    width: calc(1rem / 2);
    height: calc(1rem / 2);
    box-shadow: 0 0 0 0.25rem hsl(46 55% 68% / 33%);
    top: 50%;
    right: 0%;
    background: var(--gold-light);
    border-radius: 50%;
    --translateX: calc(100% + var(--dot-offset, -30px));
    --translateY: calc(-50% + 10px);
    transform: translate(var(--translateX, 0), var(--translateY, 0))
      scale(var(--scale, 1)) rotate(var(--rotate, 0deg));
  }
}
.global-sidebar .icon {
  fill: currentcolor;
  display: inline-block;
  margin-right: 11px;
  max-width: 30px;
  max-height: 100%;
}
.nav-link .link-text {
  display: inline;
}
//
//FLOUR CALC BUTTON POSITIONING
.global-sidebar .bottom-utils {
  position: absolute;
  bottom: 0;
  padding-bottom: 42px;
  width: 100%;
  z-index: 5;
  background: var(--blue-base);

  box-shadow: -8px -20px 8px var(--blue-base);
}
.global-sidebar .nav-button {
  display: flex;
  color: #ffffff;
  padding: 7.5px var(--sidebar-x-padding);
  width: 100%;
  align-items: center;
  background: var(--blue-light);
  border-radius: 0;

  &:hover {
    background-color: var(--blue-dark);
  }
}

//
.global-sidebar .toggle-sidebar {
  position: absolute;
  right: 0%;
  height: 100%;
  top: 0;
  display: flex;
  align-items: center;
  @media (max-width: 650px) {
    align-items: flex-start;
    button {
      margin-top: 50px;
    }
  }
}
.toggle-sidebar button {
  background: var(--blue-light);
  padding-top: 15px;
  padding-right: 22.5px;
  padding-bottom: 15px;
  padding-left: 12px;
  border-radius: 0 50% 50% 0;
  line-height: 0;
  position: absolute;
  left: 100%;
  z-index: 0;
}
@media (min-width: 650px) {
  .toggle-sidebar button {
    visibility: hidden;
    pointer-events: none;
  }
  .global-sidebar:hover .toggle-sidebar button {
    visibility: visible;
    pointer-events: auto;
  }
}
//--

//?SIDEBAR IS TOGGLED OFF
body:not([data-sidebar-state="open"]) {
  overflow-y: scroll;
  .global-sidebar {
    width: auto;
    @media (max-width: 650px) {
      transform: translate(-100%);
    }
  }
  .logo-container {
    flex-direction: column;
    height: auto;
    justify-content: center;
    padding: 10px;
    h1 {
      font-size: 14px;
    }
    > div {
      margin: 0;
    }
  }
  .nav-link {
    justify-content: center;
    padding-top: 2rem;
    padding-bottom: 2rem;
    font-size: 1.4rem;
    svg {
      height: auto;
      margin: 0;
    }
  }
  .link-text {
    display: none;
  }
  .icon {
    margin: 0;
  }
  .global-sidebar .toggle-sidebar svg {
    transform: rotate(180deg);
  }
  @media (max-width: 650px) {
    .toggle-sidebar {
      display: none;
    }
  }

  @media (max-width: 650px) {
    .global-sidebar .bottom-utils {
      display: none;
    }
  }
  @media (min-width: 650px) {
    .toggle-sub-menu {
      display: none;
    }
    .sub-menu {
      display: none;
    }
  }
  @media (min-width: 650px) {
    .site {
      margin-left: 80px;
    }
  }
}

@import "./menu-scroll-hint/scroll-hint.scss";
