.section {
  background: green;
}
.top-bar,
.global-sidebar,
.site-header,
.title-add-to-collections,
.recipe-video,
.wake-lock-toggle,
.post-navigation,
.fl-module-separator,
.ast-scroll-top {
  display: none !important;
}
#content h3 {
  font-family: "Berkshire Swash", handwriting;
}
nav.uabb-tabs-nav {
  display: none;
}

.recipe-info-row {
  padding-top: 20px;
}
//Tabs module
.fl-module-advanced-tabs {
  > div {
    margin: 0;
  }
  .uabb-tabs-desc {
    margin: 20px 0px;
  }
}

.uabb-content-wrap * {
  display: block !important;
  nav.uabb-tabs-nav,
  .uabb-tab-acc-title {
    display: none !important;
  }
}
.Beacon {
  display: none;
}
