:root {
  //colors
  --blue-light: hsl(221, 29%, 22%);
  --blue-base: hsl(224, 37%, 17%);
  --blue-dark: hsl(224, 37%, 13%);
  --light-blue: #2e86ab;
  --gold: hsl(46, 55%, 58%);
  --light-grey-95: hsl(210, 38%, 95%);
  --light-grey-90: hsl(210, 38%, 90%);
  --med-grey: hsl(216, 15%, 52%);

  //Color Intent Variables
  --input-bg: var(--light-grey-95);
  --input-bg--hover: var(--light-grey-90);
  --theme-color: var(--gold);
  --secondary: var(--blue-base);
  --link-color: var(--light-blue);
}
@import "/shared.scss";
@import "/typeography.scss";
@import "/product-card/product-card.scss";
@import "/template-styles/dashboard.scss";
@import "/template-styles/grid-archive.scss";
@import "/template-styles/recipe-collections.scss";
@import "/template-styles/single-lists.scss";
@import "/post-type-grid/post-type-grid.scss";
@import "/recipe-formatting/recipe-formatting.scss";
@import "/screen-caffeine-toggle/screen-caffeine-toggle.scss";

ul.grid {
  margin: 0;
  padding: 0;
  list-style: none;
}
@media (min-width: 650px) {
  .grid {
    align-items: start;
    display: grid;
    grid-template: auto/ repeat(
        var(--cols, 3),
        minmax(var(--min-col-width, 0), 1fr)
      );
    gap: 20px;
    > div,
    > li {
      margin: 0;
    }
  }
}
.grid {
  > div,
  > li {
    margin-bottom: 20px;
    height: 100%;
  }
}

label {
  display: block;
}

.custom-wrapper {
  padding: 20px;
}

.mobile {
  @media (min-width: 650px) {
    display: none;
  }
}

.custom-wrapper header {
  margin-bottom: 30px;
}
@media (min-width: 769px) {
  #primary {
    width: 100%;
  }
}
