@import "/product-card/product-card.scss";
@import "/template-styles/dashboard.scss";
@import "/template-styles/grid-archive.scss";

ul.grid {
  margin: 0;
  padding: 0;
  list-style: none;
}
@media (min-width: 650px) {
  .grid {
    display: grid;
    grid-template: auto/ repeat(
        var(--cols, 3),
        minmax(var(--min-col-width, 0), 1fr)
      );
    gap: 20px;
    > div,
    > li {
      margin: 0;
    }
  }
}
.grid {
  > div,
  > li {
    margin-bottom: 20px;
  }
}

label {
  display: block;
}

.custom-wrapper {
  padding: 20px;
}
