:root {
  //colors
  --blue-light: hsl(221, 29%, 22%);
  --blue-base: hsl(224, 37%, 17%);
  --blue-dark: hsl(224, 37%, 13%);
  --light-blue: #2e86ab;
  --gold: hsl(46, 55%, 58%);
  --gold-light: hsl(46, 55%, 68%);
  --gold-dark: hsl(46, 55%, 48%);
  --light-grey-95: hsl(210, 38%, 95%);
  --light-grey-90: hsl(210, 38%, 90%);
  --med-grey: hsl(216, 15%, 52%);

  //Color Intent Variables
  --input-bg: var(--light-grey-95);
  --input-bg--hover: var(--light-grey-90);
  --theme-color: var(--gold);
  --secondary: var(--blue-base);
  --link-color: var(--light-blue);

  //other defaults
  --header-bg: url("../images/fresco-pizza-top.jpg");

  //shadows
  --shadow-xs: 0 0 0 1px rgba(0, 0, 0, 0.05);
  --shadow-sm: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  --shadow-md: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
  --shadow-lg: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
  --shadow-xl: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
    0 10px 10px -5px rgba(0, 0, 0, 0.04);
  --shadow-2xl: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
  --shadow-inner: inset 0 2px 4px 0 rgba(0, 0, 0, 0.06);
  --shadow-outline: 0 0 0 3px rgba(66, 153, 225, 0.5);
  --shadow-none: none;
  --shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);

  //fonts
  --heading-font: "Berkshire Swash", handwriting;
}

@import "/shared.scss";
@import "/typeography.scss";
@import "/product-card/product-card.scss";

@import "/template-styles/dashboard.scss";
@import "/template-styles/grid-archive.scss";
@import "/template-styles/recipe-collections.scss";
@import "/template-styles/single-lists.scss";
@import "/template-styles/single-member_content.scss";
@import "/template-styles/member-updates.scss";
@import "/template-styles/woocommerce-thankyou.scss";
@import "/template-styles/cm-answers-forum.scss";

@import "/post-type-grid/post-type-grid.scss";
@import "/recipe-formatting/recipe-formatting.scss";
@import "/screen-caffeine-toggle/screen-caffeine-toggle.scss";
@import "/non-logged-in-nav/non-logged-in-nav.scss";
@import "/laptop-mockup-shortcode/laptop-mockup-shortcode.scss";

@import "/login/login.scss";

ul.grid {
  margin: 0;
  padding: 0;
  list-style: none;
}
@media (min-width: 650px) {
  .grid {
    align-items: start;
    display: grid;
    grid-template: auto/ repeat(
        var(--cols, 3),
        minmax(var(--min-col-width, 0), 1fr)
      );
    gap: var(--grid-gap, 20px);
    > div,
    > li {
      margin: 0;
    }
  }
}
.grid {
  > div,
  > li {
    margin-bottom: 20px;
    height: 100%;
  }
}

@media (min-width: 450px) {
  .flex {
    display: flex;
  }
}
.flex-start {
  justify-content: flex-start;
  align-items: center;
}

label {
  display: block;
}

.custom-wrapper {
  padding: 20px;
}

.mobile {
  @media (min-width: 650px) {
    display: none;
  }
}

.custom-wrapper header {
  margin-bottom: 30px;
}
@media (min-width: 769px) {
  #primary {
    width: 100%;
  }
}

#content {
  --page-min-height: 81vh;
  min-height: var(--page-min-height);
}

.page-mx-width {
  max-width: 860px;
  margin: 0 auto;
  padding: 30px 20px 0;
}
@media screen {
  .print-only {
    display: none;
  }
}

section.post-collection {
  padding: 30px 0;
  header {
    @media (min-width: 400px) {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    a.viewall {
      background: var(--input-bg);
      color: #5b687b;
      padding: 0 5px;
      border-radius: 3px;
      font-size: 14px;
      font-weight: 600;
      letter-spacing: 0.5px;
      &:hover {
        background: var(--input-bg--hover);
      }
    }
    margin-bottom: 2em;
  }

  h3 {
    font-family: "Berkshire Swash", handwriting;
    margin-bottom: 0;
    color: var(--secondary);
  }
  .grid {
    justify-content: space-between;
  }
  &:first-child {
    padding-top: 0;
  }
}

//mockup price banner
