.learndash_content  {
    h1 {
        font-size: 30px;
        margin-bottom: 15px;
    }
    h2 {
        font-size: 24px;
        margin-bottom: 15px;
    }
    h3 {
        font-size: 22px;
        margin-bottom: 18px;
    }
    .zippy-button {
        background: var(--blue-light);
        color: WHITE;
        padding: 5px 20px;
        border-radius: 3px;
        &:hover {
            background: var(--blue-base);
        }
    }
}
.btn {
    background: var(--blue-light),;
    color: WHITE;
    padding: 5px 20px;
    border-radius: 3px;
    &:hover {
        color: #fff;
        background: var(--blue-base);
    }
}