.carousel-wrapper {
  padding: 20px;
  // overflow: hidden;
  padding-bottom: 30px;
  ul {
    padding: 0;
    margin: 0;
    list-style: none;
  }
}

/*  */
//Slide Styles
/*  */
.dashboard-carousel {
  //TODO
  .slide {
    overflow: hidden;
    width: 90%;
    margin: 0 auto;
    border-radius: 8px;
    box-shadow: var(--shadow-xl);
    background: linear-gradient(45deg, var(--blue-light), var(--blue-dark));
    color: white;
    display: grid;
    grid-template-rows: 1fr 250px;
    @media (min-width: 768px) {
      grid-template-rows: 1fr;
      grid-template-columns: 66% 33%;
      align-items: flex-start;
      justify-content: space-between;
    }

    // @media (min-width: 900px) {
    //   max-height: 350px;
    // }
  }
  .content {
    order: 1;
    padding: 20px;
    @media (min-width: 768px) {
      min-height: 100%;
      padding: 30px 10vmin;
    }
  }
  a.btn {
    border-radius: 40px;
    background: var(--theme-color);
    font-family: var(--heading-font);
    text-shadow: 1px 2px 4px rgba(black, 0.2);
    font-size: 20px;
  }
  .description {
    margin-bottom: 20px;
  }
  h4 {
    color: white;
    font-family: var(--heading-font);
    font-size: 2.2em;
    @media (min-width: 768px) {
      font-size: 3.2em;
    }
  }
  .image {
    order: 0;
    @media (min-width: 768px) {
      order: 2;
    }
    display: block;
    width: 100%;
    min-height: 250px;
    height: 100%;
    max-height: 250px;
    @media (min-width: 768px) {
      max-height: fit-content;
    }
    position: relative;
    background: white;
    img {
      position: absolute;
      object-fit: cover;
      width: 100%;
      min-width: 100%;
      height: 100%;
      min-height: 100%;
    }
  }
} //end of dashboard

/*  */
// Slide Functionality Styles
/*  */
//States = [active, previous, next, inactive?]
.dashboard-carousel {
  display: grid;
  grid-template: 1fr/1fr;
  > .slide {
    min-height: 400px;
    grid-area: 1/1;
  }
  .slide {
    position: relative;
    z-index: -1;
    transition: transform 0.25s ease-in-out;
    &[data-state="previous"] {
      transform: scale(0.78) translateX(-20%);
    }
    &[data-state="next"] {
      z-index: -2;
      transform: scale(0.78) translateX(20%);
    }
    &[data-state="active"] {
      z-index: 1;
      box-shadow: var(--shadow-2xl);
    }
    &[data-state="inactive"] {
      z-index: -3;
      transform: scale(0.78);
    }
  }
}

/*  */
//Navigation
/*  */
.carousel-wrapper .navigation {
  display: flex;
  justify-content: center;
  align-items: center;
  button.dot {
    border: 0;
    padding: 10px;
    width: 40px;
    height: 40px;
    background: none;
  }
  span {
    display: block;
    width: 10px;
    height: 10px;
    background: #aaa;
    border-radius: 50%;
  }
  .dot[data-state="active"] {
    span {
      background: #555;
    }
  }
}

/*  */
//Header
/*  */
.carousel-wrapper {
  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
  }
  .viewall {
    background: #f3f3f3;
    border-radius: 4px;
    line-height: 1;
    padding: 8px 16px;
    font-size: 14px;
    &:hover {
      background: #ddd;
      color: var(--link-color);
    }
  }
}
