.main-header-bar-navigation .main-navigation {
  padding: 10px 0;
  a {
    line-height: 1.4;
    padding: 8px 10px;
    font-weight: bold;
    letter-spacing: 0.75px;
  }
  .login-btn a {
    @extend %fancy-button;
  }
}
.ast-theme-transparent-header .main-navigation {
  a {
    color: white;
  }
}
