.top-bar {
  height: 64px;
  background: white;
  display: flex;
  align-items: center;
  padding: 0 10px;
  color: #718096;
}
.top-bar button,
.top-bar a {
  background: transparent;
  color: #718096;
  &:hover {
    background-color: var(--input-bg--hover);
  }
  svg {
    fill: currentColor !important;
  }
}
//--

.top-bar .search-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  @media (min-width: 650px) {
    padding-left: 120px;
  }
}
.top-bar .search-bar {
  background: var(--input-bg);
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 500px;
  border-radius: 8px;
  overflow: hidden;
}
.top-bar .search-bar input {
  width: 100%;
  padding: 8px 40px 8px 16px;
  background-color: transparent;
  border: 1px solid transparent;
  &:active,
  &:focus {
    outline: 0;
    border: 1px solid transparent;
    background: var(--input-bg--hover);
  }
}
.search-bar button {
  display: flex;
  align-items: center;
  padding: 10px 10px 5px;
  justify-content: center;
  background-color: transparent;
  height: 100%;
  border-radius: 0;
}
//--

.top-bar .button-group a,
.top-bar__button {
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 0;
  border-radius: 50%;
  &:focus {
    background: var(--input-bg);
  }
  &:active {
    background: var(--input-bg--hover);
  }
}

.top-bar > *:not(:last-child) {
  margin-right: 5px;
}
.top-bar [data-part="toggle-sidebar"] svg {
  width: 1.5em;
}
