.product-card.post-type-lists {
  height: 100%;
  button[data-action="warn-delete-list"] {
    color: #df9393;
    background: rgba(255, 255, 255, 0.85);
  }

  .list-item:not([data-state="hidden"]) {
    background: none;
    display: block;
    border: none;
    padding: 0;
  }
  .recipe-title {
    align-items: start;
  }
  .title-el {
    display: inline;
  }

  .default_msg_empty_list {
    display: flex;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: var(--med-grey);
    font-weight: 600;
    p {
      margin-bottom: 15px;
    }
  }
}
