.product-card.post-type-lists {
  .top-right-corner {
    position: absolute;
    top: 5px;
    right: 5px;
  }
  button[data-action="delete-list"] {
    color: #df9393;
    background: rgba(255, 255, 255, 0.85);
  }

  .list-item:not([data-state="hidden"]) {
    background: none;
    display: block;
    border: none;
    padding: 0;
  }
}
