.my-collections.recipe-list-management-area,
.user-collections {
  //grid layout overrides
  .lists {
    box-shadow: none;
    margin-bottom: 20px;
  }
  .my-lists {
    margin-bottom: 20px;
  }
  .list-item {
    box-shadow: none;
    margin: 0;
    padding: 0;
    border: none;
    background: none;
  }
  .product-card.post-type-lists {
    width: 100%;
  }
}
