//repeating class to be more specific
h2.entry-title.entry-title {
  font-size: 26px;
}
h3 {
  font-size: 20px;
}
//--/--/--/--/--/--/--/--/--/--/--/--/--/--/--/--/--//
.page-template-cma-page-php,
.page-template-cma-single-page-php #content > .ast-container {
  padding: 0;
  max-width: 100%;
}

@import "./search.scss";
@import "./editor.scss";
@import "./header.scss";
@import "./questions.scss";
@import "./question.scss";
